extend ../components/layout/_index.pug
block siteinfo
  - var title = "home"
block header
  include ../components/header/_index.pug
block mainMenu
  include ../components/menu/_index.pug
block body
  include ../components/pages/home/_index.pug
block footer
  include ../components/footer/_index.pug
