extend ../components/layout
block siteinfo
  - var title = "home"
block header
  include ../components/header
block mainMenu
  include ../components/menu
block body
  include ../components/pages/home
block footer
  include ../components/footer
