//---------------- max-with-800-max-height-300 ------------------
@mixin max-with-800-max-height-300() {
	/**
		 * Remove all paddings around the image on small screen
		 */
	.mfp-img-mobile .mfp-image-holder {
		padding-left: 0;
		padding-right: 0;
	}
	.mfp-img-mobile img.mfp-img {
		padding: 0;
	}
	.mfp-img-mobile .mfp-figure:after {
		top: 0;
		bottom: 0;
	}
	.mfp-img-mobile .mfp-figure small {
		display: inline;
		margin-left: 5px;
	}
	.mfp-img-mobile .mfp-bottom-bar {
		background: rgba(0, 0, 0, 0.6);
		bottom: 0;
		margin: 0;
		top: auto;
		padding: 3px 5px;
		position: fixed;
		box-sizing: border-box;
	}
	.mfp-img-mobile .mfp-bottom-bar:empty {
		padding: 0;
	}
	.mfp-img-mobile .mfp-counter {
		right: 5px;
		top: 3px;
	}
	.mfp-img-mobile .mfp-close {
		top: 0;
		right: 0;
		width: 35px;
		height: 35px;
		line-height: 35px;
		background: rgba(0, 0, 0, 0.6);
		position: fixed;
		text-align: center;
		padding: 0;
	}
}

//--------------- max-width-900 --------------
@mixin max-width-900-header() {
	.mfp-arrow {
		-webkit-transform: scale(0.75);
		transform: scale(0.75);
	}
	.mfp-arrow-left {
		-webkit-transform-origin: 0;
		transform-origin: 0;
	}
	.mfp-arrow-right {
		-webkit-transform-origin: 100%;
		transform-origin: 100%;
	}
	.mfp-container {
		padding-left: 6px;
		padding-right: 6px;
	}
}

// -------- min-width(992) ----------
@mixin min-992-header() {
	#mainNav {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		-webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
		-moz-transition: padding-top 0.3s, padding-bottom 0.3s;
		transition: padding-top 0.3s, padding-bottom 0.3s;
		.navbar-brand {
			font-size: 2em;
			-webkit-transition: font-size 0.3s;
			-moz-transition: font-size 0.3s;
			transition: font-size 0.3s;
		}
		.navbar-nav {
			margin-top: 0;
		}
		.navbar-nav>li.nav-item>a.nav-link.active {
			color: $white;
			background: $primary;
			&:active,
			&:focus,
			&:hover {
				color: $white;
				background: $primary;
			}
		}
	}
	#mainNav.navbar-shrink {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		.navbar-brand {
			font-size: 1.5em;
		}
	}
	section {
		h2 {
			font-size: 3rem;
			line-height: 2.5rem;
		}
	}
	header.masthead {
		padding-top: calc(6rem + 106px);
		padding-bottom: 6rem;
		h1 {
			font-size: 4.75em;
			line-height: 4rem;
		}
		h2 {
			font-size: 1.75em;
		}
	}
}

//--------- min-768-template ---------
@mixin min-768-template() {
	.portfolio-modal {
		.portfolio-modal-dialog {
			min-height: 100vh;
			padding: 5rem;
			margin: 3rem calc(3rem - 8px);
			h2 {
				font-size: 3rem;
			}
		}
	}
}

//----------- min-width-576---------
@mixin min-width-567-template() {
	.portfolio {
		margin-bottom: -30px;
		.portfolio-item {
			margin-bottom: 30px;
		}
	}
}