extend includes/_layout.pug
block siteinfo
    - var title = "home"
block header
    include includes/_header.pug
//- block sideCat
//-     include includes/components/_side-cat.pug
//- block breadCrumb
//-     include includes/components/_breadcrumb.pug
block body
    include includes/pages/_index.pug
block footer
    include includes/_footer.pug