extend includes/_layout.pug
block siteinfo
  - var title = "home"
block header
  include includes/_header.pug
block mainMenu
  include includes/_mainMenu.pug
block body
  include includes/pages/_index.pug
block footer
  include includes/_footer.pug
