// Styling for the navbar
#mainNav {
	padding-top: 1rem;
	padding-bottom: 1rem;
	@include heading-font;
	.navbar-brand {
		color: $white;
	}
	.navbar-nav {
		margin-top: 1rem;
		letter-spacing: 0.0625rem;
		li.nav-item {
			a.nav-link {
				color: $white;
				&:hover {
					color: $primary;
				}
				&:active,
				&:focus {
					color: $white;
				}
				&.active {
					color: $primary;
				}
			}
		}
	}
	.navbar-toggler {
		font-size: 80%;
		padding: 0.8rem;
	}
}
