extend includes/_layout.pug
block siteinfo
    - var title = "UI Kit"
//- block header
//-     include includes/_header.pug
//- block body
//-     include includes/_ui-kit
//- block footer
//-     include includes/_footer.pug