// Portfolio Grid Section
section#portfolio.portfolio
	.container
		h2.text-center.text-uppercase.text-secondary.mb-0 Portfolio
		hr.star-dark.mb-5
		.row
			.col-md-6.col-lg-4
				a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-1')
					.portfolio-item-caption.d-flex.position-absolute.h-100.w-100
						.portfolio-item-caption-content.my-auto.w-100.text-center.text-white
							i.fa.fa-search-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/cabin.png', alt='')
			.col-md-6.col-lg-4
				a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-2')
					.portfolio-item-caption.d-flex.position-absolute.h-100.w-100
						.portfolio-item-caption-content.my-auto.w-100.text-center.text-white
							i.fa.fa-search-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/cake.png', alt='')
			.col-md-6.col-lg-4
				a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-3')
					.portfolio-item-caption.d-flex.position-absolute.h-100.w-100
						.portfolio-item-caption-content.my-auto.w-100.text-center.text-white
							i.fa.fa-search-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/circus.png', alt='')
			.col-md-6.col-lg-4
				a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-4')
					.portfolio-item-caption.d-flex.position-absolute.h-100.w-100
						.portfolio-item-caption-content.my-auto.w-100.text-center.text-white
							i.fa.fa-search-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/game.png', alt='')
			.col-md-6.col-lg-4
				a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-5')
					.portfolio-item-caption.d-flex.position-absolute.h-100.w-100
						.portfolio-item-caption-content.my-auto.w-100.text-center.text-white
							i.fa.fa-search-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/safe.png', alt='')
			.col-md-6.col-lg-4
				a.portfolio-item.d-block.mx-auto(href='#portfolio-modal-6')
					.portfolio-item-caption.d-flex.position-absolute.h-100.w-100
						.portfolio-item-caption-content.my-auto.w-100.text-center.text-white
							i.fa.fa-search-plus.fa-3x
					img.img-fluid(src='assets/img/portfolio/submarine.png', alt='')
// About Section
section#about.bg-primary.text-white.mb-0
	.container
		h2.text-center.text-uppercase.text-white About
		hr.star-light.mb-5
		.row
			.col-lg-4.ml-auto
				p.lead
					| Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias laudantium tempora totam repudiandae molestias deleniti a minima quaerat commodi consequuntur temporibus dicta exercitationem, debitis dolorum dolor! Quisquam similique eaque esse.
			.col-lg-4.mr-auto
				p.lead
					| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, assumenda ut consequuntur deserunt sequi provident nostrum voluptas fuga blanditiis quas voluptatem. Accusamus eveniet culpa hic eaque soluta cumque impedit dolorum.
		.text-center.mt-4
			a.btn.btn-xl.btn-outline-light(href='#')
				i.fa.fa-download.mr-2
				| Download Now!
